Source: osso-systemui-modechange-dev
Section: devel
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends:
 debhelper (>= 10),
 osso-systemui-dev,
Standards-Version: 4.3.0

Package: osso-systemui-modechange-dev
Architecture: all
Multi-arch: foreign
Depends:
 ${misc:Depends},
Description: System UI mode change plugin development headers
 Development headers for System UI mode change plugin.
